<% provide(:title, "Sign in") %>
<h1>Login</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <div class="center">
      <div class="btn-group">
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      </div>
    </div>  
    <% end %>
  </div>
</div>