<% if current_page?(job) %>
<div class="<%= col_size %> job">
  <h1><%= image_tag(job.image.url(size), class: img_type + " center") %></h1>
  <ul class="center"> 
    <li><h2><%= job.title %></h2></li>
    <li><b>Company</b></li><li><%= job.company %></li>
    <% if !job.years.empty? %><li><b>Years at job</b></li><li><%= job.years %></li><% end %>
    <% if !job.manager.empty? %><li><b>Supervisor</b></li><li><%= job.manager %></li><% end %>
    <% if !job.contact.empty? %><li><b>Company contact</b></li><li><%= job.contact %></li><% end %>
    <% if !job.address.empty? %><li><b>Workplace address</b></li><li><%= job.address %></li><% end %>
    <li><b>Description</b></li><li><%= word_wrap(job.description, line_width: 50) %></li>
    <% if !job.skills.empty? %><li><b>Skills</b></li><li><%= job.skills %></li><% end %>
    <% if !@references.first.reference.first.empty? %>
      <li><b>Professional References</b></li>
        <% @references.each do |person| %>
        <li><%= person.reference %></li>
      <% end %>
    <% end %>
    <% if signed_in? %> 
    <li>
      <%= link_to 'Edit job', edit_job_path(job) %> | 
      <%= link_to 'Delete job', job, method: :delete,  data:{confirm: "Are you sure?"} %>
    </li>
    <% end %>
  </ul>
</div>
<% else %>
<div class="<%= col_size %> job">
  <h1><%= link_to image_tag(job.image.url(size), class: img_type), job, class: img_type + " img-darken center" %></h1>
  <ul class="center">
    <li><%= job.title %></li>
  </ul>
</div>
<% end %>