<div class="row">
  <div class="span6 offset3">
    <%= form_for @job do |f| %>
    <%= render 'shared/error_messages', object: @job %>
 
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :company %>
        <%= f.text_field :company %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :years %>
        <%= f.number_field :years %>

        <%= f.label :manager %>
        <%= f.text_field :manager %>

        <%= f.label :contact %>
        <%= f.telephone_field :contact %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>