<% provide(:title, 'Resume') %>


<!-- cache infrequently changing data to expire based on new model data -->
<div class="resume">
  <div id="resume-header">
    <h2>Ian (Drakken or Adela) Coutu</h2>
    <%= link_to "www.saerdesigns.com", root_path %>
    <address>
      26180 SW CANYON CREEK RD<br>
      APT 104<br>
      WILSONVILLE, OR<br>
      97070
    </address>
    <ul class="nav pull-left">
      678-439-8431
    </ul>
    <ul class="nav pull-right">
      <%= mail_to "shadowdrakkeen@gmail.com", "shadowdrakkeen@gmail.com" %>
    </ul><br>
    <hr class="thick"><hr class="thin">
  </div>
  <div id="resume-body">
    <div id="position">
      <h2>Position desired</h2>
      Ruby on Rails developer
    </div>
    <div id="qualifications">
      <h2>Qualifications</h2>
      2+ years experience with web technologies<br>
      Solid organizational and planning skills<br>
      Knowledge of SEO tactics and practices<br>
      Experience with UI & design<br>
      Knowledge of MVC implementations<br>
    </div>
    <div id="skills">
      <h2>Skills</h2>
      Ruby on Rails, Heroku, Git, AJAX, jQuery, Javascript, CSS3, HTML5, SQL deployment, UNIX, Bootstrap, Ruby, PHP, MySQL, LESS CSS, SASS, Angular JS, PostgreSQL, WordPress, Windows, MacOS, Linux, LivePerson Administration, Windows Phone OS, Customer Service
    </div>
    <div id="history">
      <h2>Work History</h2>
      <% @jobs.each do |job| %>
      <div>
        <a href="<%= job_path(job) %>"><h3><%= job.title %></h3></a><br>
        <%= job.company %><br>
        <% if !job.years.empty? %><%= job.years %><br><% end %>
        <%= job.description %><br>
        <% if !job.references.first.reference.first.empty? %>
          <br>
          <b>Professional References</b>
          <% job.references.order(:id).each do |person| %>
            <li><%= person.reference %></li>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div id="education">
    </div>
  </div>
</div>