<% provide(:title, 'Home'); provide(:container, 'page-wrapper') %>

<script>
  $(document).ready(function (){
    $(".fade").css("opacity", 0);
    $("body").css("padding-top", 0);
    $("section").css( "height", $(window).height());
    $(".dark-overlay").css( "height", $(window).height());
    $(".v-center").css( "padding-top", $("section").height()/4);
    
    $(window).scroll(function() {
      if ($(this).scrollTop() > 200) {
        $(".fade").stop().animate({ opacity: 1 }, 500);
      } else {
        $(".fade").stop().animate({ opacity: 0 }, 500);
      }
    });
    
    $(window).resize(function() {
      $("section").css( "height", $(window).height());
      $(".dark-overlay").css( "height", $(window).height());
      $(".v-center").css( "padding-top", $("section").height()/4);
    });

    $(".scroll-button").click(function(e) {
      e.preventDefault(); 
      $('html:not(:animated),body:not(:animated)').stop().animate({
        scrollTop: $(".scroll-send").offset().top
      }, 1000);
    });
  });
</script>

<div class="home">
  <div class="bg-ocean">
  </div>
  <section class="bg-mountains">
    <div class="dark-overlay">
    </div>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Web dev & design</h1>
        <p>
          Made fast, simple, and easy
        </p>
        <%= link_to '', '', class: "scroll-button center" %>
      </div>
    </div>
  </section>

  <div class="container-fluid white scroll-send">
    <div class="row">
      <div class="container buffer fade">
        <div class="col-md-12">
          <%= render 'about_summary' %>
        </div>
        <div class="center">
          <div class="btn-group">
            <%= link_to 'About me', about_path, class: "btn btn-default btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Cool tricks for your webpage</h1>
      </div>
    </div>
  </section>

  <% unless @jobs.empty? %>
  <div class="container-fluid white">
    <div class="row">
      <div class="container buffer fade">
        <div class="col-md-12">        
          <% @jobs.each do |job| %>
          <%= render 'jobs/display', size: :small, job: job, col_size: 'col-md-4', img_type: "img-responsive" %>
          <% end %>
        </div>
        <div class="center">
          <div class="btn-group">
            <%= link_to 'Work history', jobs_path, class: "btn btn-default btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>