<% provide(:title, 'Home'); provide(:container, 'page-wrapper') %>
<%= content_for :page_script, javascript_include_tag('page-specific/videoBG') %>
<%= content_for :page_script, javascript_include_tag('page-specific/home') %>

<!-- cache static page data -->
<% cache do %>

<div class="home">
  <section class="bg-main">
    <div class="bg-video"></div>
    <div class="dark-overlay"></div>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Web dev & design</h1>
        <p>
          Made fast, simple, and easy
        </p>
        <%= link_to '', '', class: "scroll-button center" %>
      </div>
    </div>
  </section>

  <div class="container-fluid scroll-send white">
    <div class="row">
      <div class="container buffer">
        <div class="col-md-12">
          <%= render 'about_summary' %>
        </div>
        <div class="center">
          <div class="btn-group">
            <%= link_to 'About me', about_path, class: "btn btn-default btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="bg-ocean"></div>
    <div class="container v-center">
      <div class="jumbotron">
        <h1>Cool tricks for your webpage</h1>
      </div>
    </div>
  </section>

<% end %>

  <!-- Russian-doll cache model entries with display data -->
  <% unless @jobs.empty? %>
  <% cache(@jobs) do %>
  <div class="container-fluid white">
    <div class="row">
      <div class="container buffer">
        <div class="col-md-12">        
          <% @jobs.each do |job| %>
          <% cache(job) do %>
          <%= render 'jobs/display', size: :small, job: job, col_size: 'col-md-4', img_type: "img-responsive" %>
          <% end %>
          <% end %>
        </div>
        <div class="center">
          <div class="btn-group">
            <%= link_to 'Work history', jobs_path, class: "btn btn-default btn-lg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>