<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @project, role: 'form', html:{multipart:true} do |f| %>
    <%= render 'shared/error_messages', object: @project %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :link %>
    <%= f.text_field :link, class: 'form-control' %>

    <%= f.label :image %>
    <%= f.file_field :image, class: 'width-100' %>

    <%= f.submit "Submit", class: "btn btn-default btn-primary center" %>
    <% end %>
  </div>
</div>