<div class="container-fluid <%= 'white' if current_page?(root_path) %>">
  <div class="container">
    <footer class="navbar navbar-static-bottom">
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to image_tag("facebook.png"), "https://facebook.com/DemonFromHeaven" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Source code', 'https://github.com/drakkensaer/portfolio' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/drakkensaer' %></li>
          <li><%= link_to 'Resume', resume_index_path, target: '_blank' %></li>
          <% if signed_in? %>
          <li><%= link_to 'Messages', messages_path %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% end %>  
        </ul>
      </nav>
      <%= debug(params) if Rails.env.development? %>
      <div ng-controller="TestCtrl" class="debug_dump">{{test}}</div>
    </footer>  
  </div>
</div>