<div class="container-fluid <%= 'white' if current_page?(root_path) %>">
  <div class="container">
    <footer class="navbar navbar-static-bottom" role="navigation">
      <nav>
        <small>
          The current time is <%= Time.now %>
        </small>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Source code', 'https://github.com/drakkensaer/portfolio' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/drakkensaer' %></li>
          <% if signed_in? %>
          <li><%= link_to 'Messages', messages_path %></li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <% end %>  
        </ul>
      </nav>
      <%= debug(params) if Rails.env.development? %>
    </footer>  
  </div>
</div>