<!DOCTYPE html>
<html ng-app="app" ng-strict-di>
  <head>
    <base href="/">
    <title update-title>Saer Designs</title>
    <%= stylesheet_link_tag  'application' %>
    <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Abel' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web developer, web design, ruby on rails, css, bootstrap, jquery, website builder, ruby, php">
    <meta name="author" content="Drakken Saer">
    <meta name="robots" content="index, follow">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- do not render on resume page -->
    <div ng-hide="$state.includes('^.resume')" ng-include="'layouts/header.html'"></div>
    
    <!-- for page flash alerts -->
    <div flash:messages class="container" role="alert"></div>

    <!-- conditional container logic used for CSS needs for specific pages -->
    <div update-container id="main">
      <div ui-view>
        <%= yield %>
      </div>
    </div>

    <!-- do not render on resume page -->
    <div ng-hide="$state.includes('^.resume')" ng-include="'layouts/footer.html'"></div>
    
    <div class="container-fluid white">
      <div class="container">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>