<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Berkshire+Swash', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Abel', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag  'http://fonts.googleapis.com/css?family=Oregano', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="web developer, web design, ruby on rails, css, bootstrap, jquery, website builder, ruby, php">
    <meta name="author" content="Drakken Saer">
    <meta name="robots" content="index, follow">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- do not render on resume page -->
    <%= render "layouts/header" unless current_page?(resume_index_path) %>
    
    <!-- conditional container logic used for CSS needs for specific pages -->
    <div id="main" class=<%= page_base(yield(:container)) %>>
      
      <!-- for page flash alerts -->
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible container" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span   class="sr-only">Close</span></button>
        <%= value %>
      </div>
      <% end %>
      
      <!-- page content goes here -->
      <%= yield %>
    
    </div>
    <!-- do not render on resume page -->
    <%= render "layouts/footer" unless current_page?(resume_index_path) %>
  </body>
  
  <!-- for page-specific CSS or JS -->
  <%= yield :page_script %>
  
</html>